body{
  margin:0;
  font-family:Arial;
  background:#121212;
  color:white;
}

input{
  border:none;
  border-radius:5px;
}

button{
  background:purple;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
  padding:10px;
}